{% extends 'base.html' %}

{% block title %}
	Draft Page
{% endblock %}

{% block content %}
<div class="jumbotron text-center" style="color:white; background-color:#1D2228;">
   <div class="mx-auto my-1">
   	<h1 class="display-4 font-weight-normal" style="color: white">Draft Assistant</h1>
   	<br>
   	<form class="form-group row" id="draft-options">
   		<div class="col-1 offset-4">
   			<label for="draft_pos" style="color:white">Choose a Draft Position</label>
   			<select name="draft_pos" id="draft_pos" class="form-control">
   				<option value=1>1</option>
   				<option value=2>2</option>
   				<option value=3>3</option>
   				<option value=4>4</option>
   				<option value=5>5</option>
   				<option value=6>6</option>
   				<option value=7>7</option>
   				<option value=8>8</option>
   				<option value=1>9</option>
   				<option value=10>10</option>
   				<option value=11>11</option>
   				<option value=12>12</option>
   			</select>
   		</div>
   		<div class="col-1">
   			<label for="num_teams" style="color:white;">Choose number of teams:</label>
   			<select name="num_teams" id="num_teams" class="form-control">
   				<option value=8>8</option>
   				<option value=9>9</option>
   				<option value=10>10</option>
   				<option value=11>11</option>
   				<option value=12>12</option>
   			</select>
   		</div>
   		<div class="col-2">
   			<label for="draft_type" style="color:white;">Choose a draft type:</label>
   			<select name="draft_type" id="draft_type" class="form-control">
   				<option value="snake">Snake</option>
   				<option value="linear">Linear</option>
   			</select>
	   	</div>
   	</form>
      <a class="btn btn-outline-warning" id="start-btn" onclick="draft()">Start Draft</a>
      <a class="btn btn-outline-secondary hidden" id="reset-btn" onclick="reset_draft()">End Draft</a>
   </div>
</div>

<div class="container advice-bar">
	<h2>Your Top Players:</h1>
	<div class="row">
		<div class="col-3">
			<div class="row-12">
				<h4>QB: </h4>
				{% for qb in qbs|sort(attribute='custom_rank') %}
					<p class="top-qb m-1 hidden" id="top-player-{{ qb[0].id }}">#{{ qb.custom_rank }}. {{ qb[0].name }} - Tier {{ qb.custom_tier }}</p>
				{% endfor %}
			</div>
		</div>

		<div class="col-3">
			<div class="row-12">
				<h4>RB:</h4>
				{% for rb in rbs|sort(attribute='custom_rank') %}
					<p class="top-rb m-1 hidden" id="top-player-{{ rb[0].id }}">#{{ rb.custom_rank }}. {{ rb[0].name }} - Tier {{ rb.custom_tier }}</p>
				{% endfor %}
			</div>
		</div>

		<div class="col-3">
			<div class="row-12">
				<h4>WR:</h4>
				{% for wr in wrs|sort(attribute='custom_rank') %}
					<p class="top-wr m-1 hidden" id="top-player-{{ wr[0].id }}">#{{ wr.custom_rank }}. {{ wr[0].name }} - Tier {{ wr.custom_tier }}</p>
				{% endfor %}
			</div>
		</div>

		<div class="col-3">
			<div class="row-12">
				<h4>TE:</h4>
				{% for te in tes|sort(attribute='custom_rank') %}
					<p class="top-te m-1 hidden" id="top-player-{{ te[0].id }}">#{{ te.custom_rank }}. {{ te[0].name }} - Tier {{ te.custom_tier }}</p>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

<div class="container advice-bar">
	<h2>Your Top Values:</h1>
	<div class="row">
		<div class="col">
			<h4>QB:</h4>
			{% for qb in qbs %}
				<p class="value-qb m-1 hidden" id="value-player-{{ qb[0].id }}">#{{ qb.custom_rank }}. {{ qb[0].name }}, ADP: {{ qb.rank }}</p>
			{% endfor %}
		</div>
		<div class="col">
			<h4>RB:</h4>
			{% for rb in rbs %}
				<p class="value-rb m-1 hidden" id="value-player-{{ rb[0].id }}">#{{ rb.custom_rank }}. {{ rb[0].name }}, ADP: {{ rb.rank }}</p>
			{% endfor %}
		</div>
		<div class="col">
			<h4>WR:</h4>
			{% for wr in wrs %}
				<p class="value-wr m-1 hidden" id="value-player-{{ wr[0].id }}">#{{ wr.custom_rank }}. {{ wr[0].name }} - ADP: {{ wr.rank }}</p>
			{% endfor %}
		</div>
		<div class="col">
			<h4>TE:</h4>
			{% for te in tes %}
				<p class="value-te m-1 hidden" id="value-player-{{ te[0].id }}">#{{ te.custom_rank }}. {{ te[0].name }} - ADP: {{ te.rank }}</p>
			{% endfor %}
		</div>
	</div>
</div>

<div id="draft-body" class="row mt-5 hidden">

	<div class="col-sm-3">
		<table id="draftable-players-table" class="table table-hover table-sm" style="margin-left:auto; margin-right:auto;">
			<thead>
				<h2 class="text-center">Draftable Players</h2>
				<tr>
					<th scope="col" class="text-center">Your Rank</th>
					<th scope="col" class="text-center"></th>
					<th scope="col" class="text-center">ADP</th>
					<th scope="col" class="text-center options-col"></th>
				</tr>
			</thead>
			<tbody>
				{% set counter = [0] %}
				{% for player in players %}
					{% if player.custom_tier > counter|last %}
						<tr class="tier-row">
							<td>Tier {{ player.custom_tier }}</td>
						</tr>
					{% endif %}
					{% if counter.append(player.custom_tier) %}
					{% endif %}
					<tr class="player-row" id="{{ player[0].id }}-row">
						<td>{{ player.custom_rank }}</td>
						<td class="text-left name">{{ player[0].name }}, {{ player[0].position }}</td>
						<td>{{ player[0].rank }}
						<td class="text-center options-col">
							<button class="btn btn-outline-primary btn-sm draft-btn hidden" value="{{ player[0].id }}">Draft</button>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<div class="col-sm-9">
		<table id="draft-board">
			<thead>
				<h2 class="text-center">Draft Board</h2>
				<tr class="row">
				</tr>
			</thead>

			<tbody>
			</tbody>
		</table>
	</div>

</div>

<style>

	#draft-board {
		width: 1300px;
		overflow: auto;
	}

	.drafter {
		width: 110px;
		text-align: center;
		background-color: none;
	}

	.pick-name {
		margin: -5px;
		padding: -5px;
	}

	.card {
		height: 70px;
		width: 110px;
		text-align: center;
		margin:  1px 1px 1px 1px;
	}

	.user-thead {
		background-color: black;
	}

	.user-thead p {
		color: white;
	}

	p {
		color: white;
	}

	thead p {
		color: black;
	}

	td {
		text-align: center;
		justify-content: center;
	}

	.draft-card {
		background-color: #A9A9A9; 
		font-size: 10pt;
		border: none;
		border-radius: 5px;
	}

	.hidden {
		display: None;
	}

	.QB {
		background-color: #C402A7;
	}

	.RB {
		background-color: #526EFF;
	}

	.WR {
		background-color: #699D4C;
	}

	.TE {
		background-color: #C0392B;
	}

	.advice-bar {
		border: 3px solid grey;
		border-radius: 5px;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.advice-bar p {
		color: black;
	}

	html {
		scroll-behavior: smooth;
	}

	.user-thead {
		font-weight: bold;
	}
</style>

<script>

	window.addEventListener("load", initialize)

	function initialize() {

		// Loading the top players module
		top_qbs = document.getElementsByClassName("top-qb")
		top_rbs = document.getElementsByClassName("top-rb")
		top_wrs = document.getElementsByClassName("top-wr")
		top_tes = document.getElementsByClassName("top-te")

		// Loading the top values module
		value_qbs = document.getElementsByClassName("value-qb")
		value_rbs = document.getElementsByClassName("value-rb")
		value_wrs = document.getElementsByClassName("value-wr")
		value_tes = document.getElementsByClassName("value-te")

		for (var i = 0; i < 5 ; i++) {
			top_qbs[i].classList.remove("hidden")
			top_rbs[i].classList.remove("hidden")
			top_wrs[i].classList.remove("hidden")
			top_tes[i].classList.remove("hidden")

			value_qbs[i].classList.remove("hidden")
			value_rbs[i].classList.remove("hidden")
			value_wrs[i].classList.remove("hidden")
			value_tes[i].classList.remove("hidden")
		}
	}

	// Initializing global parameters
	var draft_is_occuring = false;
	var round = 1;
	var pick = 1;

	function draft() {

		// Updating parameters
		draft_is_occuring = true;

		draft_board = document.getElementById('draft-board')
		draft_pos = document.getElementById("draft_pos").value
		num_players = document.getElementById("num_teams").value
		draft_type = document.getElementById("draft_type").value

		document.getElementById("draft-options").classList.add("hidden")

		// Creating the table header for the drafters
		drafters_head = draft_board.getElementsByTagName('thead')[0]
		drafters = drafters_head.getElementsByTagName('tr')[0]
		for (var i = 0; i < num_players; i ++) {
			drafter_th = document.createElement('th')
			drafter_th.setAttribute("scope", "col")
			drafter_th.setAttribute("id", "team-" + parseInt(i + 1))
			drafter_th.setAttribute("class", "col card")

			drafter_p = document.createElement('p')
			drafter_p.innerHTML = "Team "+ parseInt(i + 1)
			drafter_th.appendChild(drafter_p)

			drafters.appendChild(drafter_th)
		}

		// Creating the draft board with placeholder text
		cards = draft_board.getElementsByTagName('tbody')[0]
		for (var i = 0; i < 15; i++) {
			card_row = document.createElement("tr")
			card_row.setAttribute("class", "row")
			for (var j = 0; j < num_players; j++) {
				card_td = document.createElement('td')
				card_td.setAttribute("class", "col card draft-card")
				if (draft_type === "snake") {
					card_td.setAttribute("id", "rd" + parseInt(i + 1) + "-pk" + Math.abs(parseInt(j + 1) - (parseInt(parseInt(num_players) + 1) * (i % 2))))
					card_placeholder = document.createElement("p")
					card_placeholder.setAttribute("class", "pick-placeholder")
					placeholder_num = Math.abs(parseInt(j + 1) - (parseInt(parseInt(num_players) + 1) * (i % 2)))
					card_placeholder.innerHTML = "" + parseInt(i + 1) + "." + placeholder_num
					card_td.appendChild(card_placeholder)
				} else {
					card_td.setAttribute("id", "rd" + parseInt(i + 1) + "-pk" + Math.abs(parseInt(j + 1)))
					card_placeholder = document.createElement("p")
					card_placeholder.setAttribute("class", "pick-placeholder")
					placeholder_num = Math.abs(parseInt(j + 1))
					card_placeholder.innerHTML = "" + parseInt(i + 1) + "." + placeholder_num
					card_td.appendChild(card_placeholder)	
				}
				card_name = document.createElement("p")
				card_name.setAttribute("class", "pick-name hidden font-weight-bold text-left")
				card_td.appendChild(card_name)
				card_row.appendChild(card_td)
			}
			cards.appendChild(card_row)
		}

		user_thead = document.getElementById('team-' + draft_pos)
		user_thead.getElementsByTagName("p")[0].innerHTML = "Your team"
		user_thead.classList.add("user-thead")

		// Activating draft buttons for players
		draft_btns = document.getElementsByClassName("draft-btn")
		for (var i = 0; i < draft_btns.length; i++) {
			draft_btns[i].classList.remove("hidden")
			draft_btns[i].addEventListener("click", draft_player)
			draft_btns[i].classList.remove("hidden")
		}

		document.getElementById("reset-btn").classList.remove("hidden");
		document.getElementById("start-btn").classList.add("hidden");

		// Revealing and scrolling down to the draft board
		var draft_body = document.getElementById("draft-body")
		draft_body.classList.remove("hidden")
		var board_top = draft_body.offsetTop;
		var nav_height = document.getElementById('navbar').offsetHeight
		window.scroll(0, board_top - nav_height)

		// Function that handles drafting a player
		function draft_player() {
			if (draft_is_occuring  == true) {
				player_id = this.value;
				player_row = document.getElementById(player_id + "-row");
				player_row.classList.add("hidden");
				pick_card = document.getElementById("rd" + round + "-pk" + pick);
				pick_card.getElementsByClassName("pick-placeholder")[0].classList.add("hidden");
				name_pos = player_row.getElementsByClassName("name")[0].innerHTML.split(", ");
				name = name_pos[0];
				pos = name_pos[1];
				pick_card.classList.add(pos);
				pick_card.getElementsByClassName("pick-name")[0].innerHTML = name;
				pick_card.getElementsByClassName("pick-name")[0].classList.remove("hidden");

				value_player = document.getElementById("value-player-" + player_id)
				value_player.parentNode.removeChild(value_player)

				top_player = document.getElementById("top-player-" + player_id)
				top_player.parentNode.removeChild(top_player)

				load_tips(pos)

				if (pick >= num_players) {
					pick = 1;
					round++;
				} else {
					pick++;
				}
			}
		}

		function load_tips(pos) {
			pos = pos.toLowerCase()
			t = document.getElementsByClassName("top-" + pos)
			console.log(t.length)
			value = document.getElementsByClassName("value-" + pos)

			for (var i = 0; i < 5; i++) {
				t[i].classList.remove("hidden")
				value[i].classList.remove("hidden")
			}
		}
	}

	function reset_draft() {
		location.reload()
	}

</script>

{% endblock %}
