{% extends 'base.html' %}

{% block title %}
	Draft Page
{% endblock %}

{% block content %}
<div class="jumbotron text-center" style="color:white; background-color:#1D2228;">
   <div class="mx-auto my-1">
   	<h1 class="display-4 font-weight-normal" style="color: white">Draft Helper</h1>
   	<br>
   	<form class="form-group row">
   		<div class="col-1 offset-4">
   			<label for="draft_pos" style="color:white">Choose a Draft Position</label>
   			<select name="draft_pos" id="draft_pos" class="form-control">
   				<option value=1>1</option>
   				<option value=2>2</option>
   				<option value=3>3</option>
   				<option value=4>4</option>
   				<option value=5>5</option>
   				<option value=6>6</option>
   				<option value=7>7</option>
   				<option value=8>8</option>
   				<option value=1>9</option>
   				<option value=10>10</option>
   				<option value=11>11</option>
   				<option value=12>12</option>
   			</select>
   		</div>
   		<div class="col-1">
   			<label for="num_teams" style="color:white;">Choose number of teams:</label>
   			<select name="num_teams" id="num_teams" class="form-control">
   				<option value=8>8</option>
   				<option value=9>9</option>
   				<option value=10>10</option>
   				<option value=11>11</option>
   				<option value=12>12</option>
   			</select>
   		</div>
   		<div class="col-1">
   			<label for="draft_type" style="color:white;">Choose a draft type:</label>
   			<select name="draft_type" id="draft_type" class="form-control">
   				<option value="snake">Snake</option>
   				<option value="linear">Linear</option>
   			</select>
	   	</div>
   	</form>
      <a class="btn btn-outline-warning" id="start-btn" onclick="draft()">Start Draft</a>
      <a class="btn btn-outline-secondary hidden" id="reset-btn" onclick="reset_draft()">Reset Draft</a>
   </div>
</div>

<div class="row mt-5">

	<div class="col-sm-3">
		<table id="draftable-players-table" class="table table-hover table-sm tab" style="margin-left:auto; margin-right:auto;">
			<thead>
				<h2 class="text-center">Draftable Players</h2>
				<tr>
					<th scope="col" class="text-center">Your Rank</th>
					<th scope="col" class="text-center">Name</th>
					<th scope="col" class="text-center">Position</th>
					<th scope="col" class="text-center">ADP</th>
					<th scope="col" class="text-center options-col">Options</th>
				</tr>
			</thead>
			<tbody>
				{% for player in players %}
					<tr class="player-row" id="{{ player[0].id }}-row">
						<td class="text-center">{{ player.custom_rank }}</td>
						<td class="text-center name">{{ player[0].name }}</td>
						<td class="text-center">{{ player[0].position }}</td>
						<td class="text-center">{{ player[0].adp }}
						<td class="text-center options-col">
							<button class="btn btn-outline btn-outline-primary btn-sm" value="{{ player[0].id }}">Draft</button>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<div class="col-sm-7">
		<table class="draft-board">
			<thead>
				<h2 class="text-center">Draft Board</h2>
				<tr class="row">
				{% for i in range(12) %}
					<td class="col" id="team-{{ i + 1 }}">
						<p>Team {{i + 1}}</p>
					</td>
				{% endfor %}
				</tr>
			</thead>

			<tbody>
			{% for i in range(15) %}
				<tr class="row">
					{% for j in range(12) %}
						<td class="col card draft-card" id="rd{{i + 1}}-pk{{ (j + 1 - (13 * (i % 2)))|abs }}">
							<p class="pick-placeholder">{{i + 1}}.{{(j + 1 - (13 * (i % 2)))|abs}}</p>
							<p class="pick-name hidden"></p>
						</td>
					{% endfor %}
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>

</div>


<style>
	.card {
		height: 70px;
		width: 100px;
		background-color: #A9A9A9; 
		color: #E1E2E2;
		text-align: center;
		margin:  1px 1px 1px 1px;
	}

	p {
		color: white;
	}

	thead p {
		color: black;
	}

	td {
		text-align: center;
		justify-content: center;
	}

	.draft-card {
		font-size: 10pt;
		border: none;
		border-radius: 5px;
	}

	.hidden {
		display: None;
	}
</style>

<script>

	window.addEventListener("load", initialize)

	function initialize() {
	}

	var draft_is_occuring = false
	var round = 1
	var pick = 1

	function draft() {
		draft_is_occuring = true
		select = document.getElementById("draft_pos")
		draft_pos = select.options[select.selectedIndex].value;
		document.getElementById('team-' + draft_pos).getElementsByTagName("p")[0].innerHTML = "Your team"

		draft_btns = document.getElementsByClassName("btn btn-outline btn-outline-primary btn-sm")
		for (var i = 0; i < draft_btns.length; i++) {
			draft_btns[i].classList.remove("hidden")
			draft_btns[i].addEventListener("click", draft_player)
		}
		document.getElementById("reset-btn").classList.remove("hidden")
		document.getElementById("start-btn").classList.add("hidden")

		function draft_player() {
			if (draft_is_occuring  == true) {
				player_id = this.value
				player_row = document.getElementById(player_id + "-row")
				player_row.classList.add("hidden")
				pick_card = document.getElementById("rd" + round + "-pk" + pick)
				pick_card.getElementsByClassName("pick-placeholder")[0].classList.add("hidden")
				pick_card.getElementsByClassName("pick-name")[0].innerHTML = player_row.getElementsByClassName("name")[0].innerHTML
				pick_card.getElementsByClassName("pick-name")[0].classList.remove("hidden")   
				if (pick >= 12) {
					pick = 1
					round++
				} else {
					pick++
				}
			}
		}
	}

	function reset_draft() {
		location.reload()
	}

</script>



{% endblock %}