{% extends 'base.html' %}

{% block title %}
	Draft Page
{% endblock %}

{% block content %}
<div class="row">

	<div class="col-sm-1 p-0">
		<div class="card">
			<div class="card-body">
				<p>Christian McCaffery</p>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<p>Darren Waller</p>
			</div>
		</div>
	</div>

	<div class="col-sm-1 p-0">
		<div class="card">
			<div class="card-body">
				<p>Dalvin Cook</p>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<p>Deandre Hopkins</p>
			</div>
		</div>
	</div>

	<div class="col-sm-1 p-0">
		<div class="card">
			<div class="card-body">
				<p>Derrick Henry</p>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<p>Christian McCaffery</p>
			</div>
		</div>
	</div>

	<div class="col-sm-1 p-0">
		<div class="card">
			<div class="card-body">
				<p>Alvin Kamara</p>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<p>Christian McCaffery</p>
			</div>
		</div>
	</div>

	<div class="col-sm-1 p-0">
		<div class="card">
			<div class="card-body">
				<p>Christian McCaffery</p>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<p>Christian McCaffery</p>
			</div>
		</div>
	</div>

	<div class="col-sm-1 p-0">
		<div class="card">
			<div class="card-body">
				<p>Christian McCaffery</p>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<p>Christian McCaffery</p>
			</div>
		</div>
	</div>

	<div class="col-sm-1 p-0">
		<div class="card">
			<div class="card-body">
				<p>Christian McCaffery</p>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<p>Christian McCaffery</p>
			</div>
		</div>
	</div>

	<div class="col-sm-1 p-0">
		<div class="card">
			<div class="card-body">
				<p>Christian McCaffery</p>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<p>Christian McCaffery</p>
			</div>
		</div>
	</div>

	<div class="col-sm-1 p-0">
		<div class="card">
			<div class="card-body">
				<p>Christian McCaffery</p>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<p>Christian McCaffery</p>
			</div>
		</div>
	</div>

	<div class="col-sm-1 p-0">
		<div class="card">
			<div class="card-body">
				<p>Christian McCaffery</p>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<p>Christian McCaffery</p>
			</div>
		</div>
	</div>

	<div class="col-sm-1 p-0">
		<div class="card">
			<div class="card-body">
				<p>Christian McCaffery</p>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<p>Christian McCaffery</p>
			</div>
		</div>
	</div>

	<div class="col-sm-1 p-0">
		<div class="card">
			<div class="card-body">
				<p>Christian McCaffery</p>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<p>Christian McCaffery</p>
			</div>
		</div>
	</div>

</div>

<style>
	.card {
		height: 100px;
		background-color: grey; 
		color: #E1E2E2;
	}
</style>



{% endblock %}