{% extends 'base.html' %}

{% block title %}
	Positional Rankings
{% endblock %}

{% block content %}
	<div class="jumbotron text-center" style="color:white; background-color:#1D2228;">
	   <div class=" mx-auto my-1">
	       <h1 class="display-4 font-weight-normal" style="color: white">Your Custom {{ position }} Rankings</h1>
	   </div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col text-center">
				<p>
					Select "Change" to adjust the ranking of a specific {{ position }}. 
				</p>
			</div>
		</div>
		<div class="text-center row">
			<p style=""class="col">Filter By Position: <a href="{{ url_for('rankings_page') }}">All</a> | <a href="{{ url_for('qb_rankings_page') }}">QB</a> | <a href="{{ url_for('rb_rankings_page') }}">RB</a> | <a href="{{ url_for('wr_rankings_page') }}">WR</a> | <a href="{{ url_for('te_rankings_page') }}">TE</a> 
			</p>
		</div>
		<div class="text-center">
			<form method="POST" class="save-changes">
				<a id="save-changes-btn" style="display: none" onclikc="save_changes" class="btn btn-outline-primary" href="{{ url_for('rankings_page') }}">Save Changes</a>
			</form>
		</div>
		<br>
		<table class="table table-hover table-striped table-dark" style="background-color: #1D2228">
			<thead>
				<tr>
					<th scope="col" class="text-center">Custom {{ position }} Rank</th>
					<th scope="col" class="text-center">Name</th>
					<th scope="col" class="text-center">Team</th>
					<th scope="col" class="text-center">ADP</th>
					<th scope="col" class="text-center">Fantasy Pros</th>
					<th scope="col" class="text-center">FFB Calculator</th>
					<th scope="col" class="text-center">Sporting News</th>
					<th scope="col" class="text-center"></th>
				</tr>
			</thead>
			<tbody>
				{% set tiers = [] %}
				{% for player in players %}
				{% include 'includes/pos_player_modals.html' %}
					{% if tiers|length < 1 or player.custom_tier != tiers[-1] %}
						{% do tiers.append(player.custom_tier) %}
						<tr>
							<td class="bg-secondary">Tier {{ player.custom_tier }}</td>
						</tr>
					{% endif %}
					<tr class="player-row" id="{{ player.id }}-row">
						<td class="text-center custom-rank" form="player-form">{{ player.custom_pos_rank }}</td>
						<td class="text-center">{{ player[0].name }}</td>
						<td class="text-center">{{ player[0].team }}</td>
						<td class="text-center">{{ player[0].adp }}</td>
						<td class="text-center">{{ player[0].fp_rank }}</td>
						<td class="text-center">{{ player[0].ffb_calc_rank }}</td>
						<td class="text-center">{{ player[0].sport_news_rank }}</td>
						<td class="text-center">
								<button class="btn btn-outline btn-outline-warning btn-sm" data-toggle="modal" data-target="#Modal-SwapPosRank-{{ player[0].id }}">Change</button>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock %}




