{% extends 'base.html' %}

{% block title %}
	Rankings Page
{% endblock %}

{% block content %}
	<div class="jumbotron text-center" style="color:white; background-color:#1D2228;">
	   <div class=" mx-auto my-1">
	       <h1 class="display-4 font-weight-normal" style="color: white">Your Custom Overall Rankings</h1>
	   </div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col text-center">
				<p>
					Select "Change" to adjust the ranking of a specific player. 
					Select "Add Tier" to add an additional tier to your rankings.
				</p>
			</div>
		</div>
		<div class="text-center row">
			<p style=""class="col">Filter By Position: 
				<a href="{{ url_for('rankings_page') }}">All</a> | 
				<a href="{{ url_for('pos_rankings_page', pos='qb') }}">QB</a> | 
				<a href="{{ url_for('pos_rankings_page', pos='rb') }}">RB</a> | 
				<a href="{{ url_for('pos_rankings_page', pos='wr') }}">WR</a> | 
				<a href="{{ url_for('pos_rankings_page', pos='te') }}">TE</a> 
			</p>
		</div>
		<div class="row">
			<div class="col text-center">
				<button class="btn btn-primary" 
					data-toggle="modal" 
					data-target="#Modal-AddTier-{{ max_tier }}">Add Tier</button>
				{% if players[-1].custom_tier != 1 %}
					<button class="btn btn-danger"
						data-toggle="modal"
						data-target="#Modal-DeleteTier-{{ players[-1].custom_tier }}">Delete Tier</button>
				{% endif %}
			</div>
		</div>
		<br>
		<div class="overflow-auto" style="max-width: 100vw;">
			<table class="table table-sm table-hover table-striped table-dark" style="background-color: #1D2228">
				<thead>
					<tr>
						<th scope="col" class="text-center">Custom Rank</th>
						<th scope="col" class="text-center">Name</th>
						<th scope="col" class="text-center">Position</th>
						<th scope="col" class="text-center">Team</th>
						<th scope="col" class="text-center">ECR</th>
						<th scope="col" class="text-center">Fantasy Pros</th>
						<th scope="col" class="text-center">FFB Calculator</th>
						<th scope="col" class="text-center">Sporting News</th>
						<th scope="col" class="text-center"></th>
					</tr>
				</thead>
				<tbody>
					{% set tiers = [] %}
					{% for player in players %}
					{% include 'includes/players_modals.html' %}
						{% if tiers|length < 1 or player.custom_tier != tiers[-1] %}
							{% do tiers.append(player.custom_tier) %}
							<tr>
								<td class="bg-secondary tier-row pl-5" colspan="12">Tier {{ player.custom_tier }}
									{% if player.custom_tier > 1 %}
										<button class="btn btn-outline-warning btn-sm"
											data-toggle="modal"
											data-target="#Modal-EditTier-{{ player.custom_tier }}">Edit</button>
									{% endif %}
								</td>
							</tr>
						{% endif %}
						<tr class="player-row" id="{{ player.id }}-row">
							<td class="text-center">{{ player.custom_rank }}</td>
							<td class="text-center">{{ player[0].name }}</td>
							<td class="text-center">{{ player[0].position }} {{ player.custom_pos_rank }}</td>
							<td class="text-center">{{ player[0].team }}</td>
							<td class="text-center">{{ player[0].rank}}</td>
							<td class="text-center">{{ player[0].fp_rank }}</td>
							<td class="text-center">{{ player[0].ffb_calc_rank }}</td>
							<td class="text-center">{{ player[0].sport_news_rank }}</td>
							<td class="text-center">
									<button class="btn btn-outline btn-outline-warning btn-sm" 
										data-toggle="modal" 
										data-target="#Modal-SwapRank-{{ player[0].id }}">Move</button>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

	<style>
		.tier-row {
			font-family: monospace;
		}

	</style>

{% endblock %}




