<style>
	.modal-content {
		background-color: #333333;
	}
</style>

<div class="modal fade" id="Modal-SwapRank-{{ player[0].id }}"
	tabindex="-1"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="ModalLabel" style="color: white;">
					{{ player.custom_rank }}. {{ player[0].name }}
				</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</buttn>
			</div>
			<div class="modal-body">
				<form method="POST">
					{{ swap_rank_form.hidden_tag()}}
					<p style="color: white;"> 
						Enter new overall rank for {{ player[0].name }}:
					</p>
					{{ swap_rank_form.new_rank(class="form-control", placeholder="New Rank") }}
					<br>
					<input id="swapped_player" name="swapped_player" type="hidden" value="{{ player[0].id }}">
					<input type="hidden" name="form-name" value="swap-form">
					{{ swap_rank_form.submit(class="btn btn-outline-success btn-block") }}
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">
					Cancel
				</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="Modal-AddTier-{{ max_tier }}"
	tabindex="-1"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="ModalLabel" style="color: white;">
					Tier {{ max_tier + 1 }}
				</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form method="POST">
					{{ swap_rank_form.hidden_tag()}}
					<p style="color: white;"> 
						Enter rank of top player in new custom tier {{ max_tier + 1 }}:
					</p>
					{{ add_tier_form.new_tier_cutoff(class="form-control", placeholder="Top Rank ") }}
					<br>
					<input id="new_tier" name="new_tier" type="hidden" value="{{ max_tier + 1 }}">
					<input type="hidden" name="form-name" value="tier-form">
					{{ add_tier_form.submit(class="btn btn-outline-success btn-block") }}
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">
					Cancel
				</button>
			</div>
		</div>
	</div>
</div>

